<script language=JavaScript type="text/javascript"> 
function length_check(len_max, field_id, counter_id) { 
  var len_current = document.getElementById(field_id).value.length;
  var rest = len_max - len_current; 
  if (len_current > len_max ) {    
    document.getElementById(field_id).value = document.getElementById(field_id).value.substr (0, len_max); 
    if (rest < 0) { rest = 0;
  } 
    document.getElementById(counter_id).firstChild.data = rest + ' / ' + len_max; 
    alert('The maximum length of the field contents:  ' + len_max + ' symbols!'); 
    } else {    
      document.getElementById(counter_id).firstChild.data = rest + ' / ' + len_max;   
    } 
  } 
</script>

<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_msgs',object:f.object %>
  <div class="field">
    <%= f.hidden_field :for_user, :value => for_user.name %>
    <%=f.text_area :content, placeholder: "to @#{for_user.name} ",
      :id => 'tweets_content_area',
      :onkeyup =>"length_check(#{Micropost::LengthText}, 'tweets_content_area', 'counter')",
      :onclick =>"length_check(#{Micropost::LengthText}, 'tweets_content_area', 'counter')" %>
  </div>
  <span id="counter"> <%= Micropost::LengthText %> / <%= Micropost::LengthText %></span>
  <%= f.submit("Send!", class:"btn btn-large btn-primary") %>
<% end %>
