<div class="row ">
  <aside class ="span3"></aside>
  <div class ="center span6">  
    <center>
      <%= form_for @user, :url=> resetpass_recive_pass_users_path(@user), :method=>:post do |f| %>
       <%= render('shared/error_msgs', object: f.object) %>
       <%= f.label :password %>
       <%= f.password_field :password %>
      
       <%= f.label :password_confirmation, "Confirmation" %>
       <%= f.password_field  :password_confirmation %>
      
       <%= f.submit("Reset password", class: "btn btn-large btn-primary") %>
      <% end %>
    </center>
  </div>
</div>
