<% provide(:title,'Edit profile') %> 
<div class="center hero-unit">
  <h1>Update your profile</h1>  
</div>
<div class="row">
  <div class="span6 offset3">
      <div>
        <aside class ="span4">
        <section>
        <%= gravatar_for(@user,size:150)  %>
        <%= link_to("Change Gravatar","http://gravatar.com/emails" ,:target => "_blank") %>
        </section>
        </aside>
      </div>
    <%= form_for(@user) do |f| %>
      <%= render('shared/error_msgs') %>
      <%=render 'fields', f: f %>
      <br>
      <%= f.submit("Save changes", class: "btn btn-large btn-primary") %>
    <% end %>

  </div>
</div>


