<% provide(:title,@user.name)%>
<div class="row">
  <aside class ="span4">
    <section>
      <%= render 'shared/user_info', user:@user %>
    </section> 
    <section>
    <ul>
      <li><%= render 'follow_form' if signed_in? %></li> 
    </ul>
    <%= render 'micropost_form', :for_user => @user if signed_in? and !current_user?(@user) %>
    </section>
  </aside>
  <div class="span8">
   <% if @user.microposts.any? %>
      <h3> Total microposts: <%=@user.microposts.count %> </h3>
      <%= will_paginate @microposts %>
      <ol class="microposts">
        <%=render @microposts%>
      </ol>
      <%= will_paginate @microposts %>
    <% else %>
       <h3> No microposts! </h3>
    <%end%>
  </div>
</div>
