<% @user||=current_user %>
<big><b>
<%= link_to gravatar_for(@user, size: 100), current_user %>
 <div> <%= @user.name %></div>
</b></big>
<span>
  <%= link_to("view profile", @user)%>
</span>
<span id="mposts_count-feed">
  <%= pluralize( @user.microposts.count, "micropost")%>
</span>
<%= render 'shared/stats' %>
