<% provide(:title,@hashtag.full_text)%>
<div class="row">
 <h1> <div><%= link_to("Hashtag",hashtags_path)%><%= " #{@hashtag.full_text}" %> </div></h1>
  <aside class ="span4">
    <section>
      <h1>
        <div><%= truncate(@hashtag.full_text,length:13) %> </div>
      </h1>
      <div><%="Total tweets: #{@hashtag.micropost.count}"%></div>
      <div><% res=most_common_value(@hashtag.micropost.map(&:user_id)) %></div>
      <div><%=raw "Most used by the user: #{link_to(User.find(res[:value]).name,user_path(res[:value]))} (#{res[:size]})"%></div>
      <div><% res=most_rare_value(@hashtag.micropost.map(&:user_id)) %></div>
      <div><%=raw  "Least used by the user: #{link_to(User.find(res[:value]).name,user_path(res[:value]))} (#{res[:size]})"%></div>
    </section>
  </aside>
  <div class="span8">
   <h3>All micropost with <%= @hashtag.full_text %>: </h3>   
      <ol class="micropost">
        <%=render 'shared/feed' %>
      </ol>
  </div>
</div>

